.loginPage {
    background: url('Images/chuttersnap-Q_KdjKxntH8-unsplash.jpg');
    background: linear-gradient(rgba(12,12,12,0.5), rgba(10,10,10,0.5)), url("images/chuttersnap-Q_KdjKxntH8-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:100% 120% ;
}

.loginForm{
    background-color: rgba(42, 59, 94, 0.6);
    color: white;
}
.btn1-success{
    background-color: green;
    width: 100%;
    align-self: center;
    padding : 10px 0;

}
h1{
    padding:10px 0;

    text-align: center;
    position: fixed;
    width: 100%;
    color: cyan;
    text-decoration: double;
    margin-bottom: 20px;
}
.btn2{
    background-color: grey;
    color: blue;
    /*position: fixed;*/
    width: 100%;
    text-decoration: double;

}
